body {
    margin: 0;
}

header {
    width: 100%;
    height: 100px;
    background-color: rgba(41, 39, 39, 0.959);
    position: fixed;
}

.cabecalho {
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 20px;    
}

.conteiner-flex {

    /*==== 
        João Cláudio
     =====*/

     display: flex;
     justify-content: space-between;
     align-items: center;
     flex-direction: row;
 
     /*=========*/

}

.menu-button > li {
    font-size: 25px;
    margin-left: 30px;
    color: white;
    cursor: pointer;
    display: inline-block;
}

a {
    color: white;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
}

a:hover {
    border-bottom: 1px white solid;
}

.menu-button li:hover {
    border-bottom: 2px white solid;
}

.banner {
    box-sizing: border-box;
    width: 100%;
}

.interno {
    margin-left: 10%;
    margin-right: 10%; 
}

.intro {
    font-size: 20px;
}

section {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 50px;
}

.apresentacao-carro {
    display: flex;
    flex-direction: column;
    padding: 10px 20px 10px 20px;
    width: 45%;
    height: 500px;
    align-items: center;

    margin: 5px;
    border: solid 1px #CCC;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.3);
}

.apresentacao-carro:hover {
    background-color: rgba(207, 207, 207, 0.664);
}

.apresentacao-carro p {
    margin-left: 25px;
}

.botao-veja-mais {
    width: 200px;
    height: 35px;
    margin-top: 10%;
    background-color: rgb(253, 21, 21);
    color: white;
    cursor: pointer;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.3);
}

.botao-veja-mais:hover {
    background-color: rgb(165, 1, 1);
}

h1 {
    font-size: 50px;
    color: rgb(68, 68, 68);
    
}

.apresentacao-paragrafo {
    color:rgba(0, 0, 0, 0.952);
    font-size: 20px;
}

footer {
    height: 250px;
    background-color: rgba(41, 39, 39, 0.959);
}

.rodape {
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 20px;
    display: flex;
    align-items: flex-start;
}

.lista-rodape li {
    color: white;
    list-style: none;
    margin-bottom: 5px;
    font-size: 20px;
}